@import 'modules/grid';

*{	
	font-family: Arial;
}

//** core site structure 
.wrapper{
	@extend %siteWrapper;
}
.mainContent{
	@include gridCol(2/3);
	background: #ededed;
}
.siteSidebar{
	@include gridCol(1/3);
	background: #ddd;
	.inSideColumn{
		@include gridCol(1/2);
		outline: 1px dashed red;
	}
}

//** other stuff

.makeItSimple{
	@extend %gridRow;

	.simpleColumn{
		@include gridCol(1/5);
		outline: 1px dashed red;
	}
}

.itIsSimple{
	@extend %gridRow;

	.simpleColumn{
		@include gridCol(1/3);
		outline: 1px dashed red;
	}
}
